* {
  text-decoration: none;
  color: black;
  list-style: none;
  color: #00ff00;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #00ff00;
}

a:hover{
  color:#17b417bd ;
}
/* Index start */
.index{
  background-image: url(https://fondosmil.com/fondo/18783.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;

}

.A1 {
  background-color: #000;
}

.A2:hover{
  color: #17b417bd;
}

.A3{
  background-color: #00ff00;
  color: #000;
}

.A3:hover{
  background-color: #17b417bd;
  color: #000;
}
/* HAY 1 PIXEL FUERA DE LUGAR EN EL BOTON EN LA PARTE SUPERIOR IZQUIERDA, ECONTRAR FORMA DE SOLUCIONAR */

/* Index end */

.C3{
  color:#00ff00;
}
.C3:hover{
  color:#17b417bd;
}


/* Fotter start */
.D1{
  background-color: #000;
}
/* Fotter end */

/* suplementos start*/
.suplementos{
  background-image: url(https://assets.gqindia.com/photos/5cdc0e49d0e160243a100354/master/pass/weight-workout.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #000;
}
.P1{
  border: solid 2px #00ff00;
  background-color: #000;
  padding-left: 3px;
  padding-right: 3px;
}